<% layout('layout/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/events/<%=event._id%>?_method=PUT" method="POST" novalidate class="validate-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="events[title]" required
                    value="<%=event.title %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="events[location]" required
                    value="<%=event.location %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="date">date</label>
                <input class="form-control" type="text" id="date" name="events[date]" required
                    value="<%=event.date %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">event Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="events[price]" required value="<%=event.price %>">
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description"
                    name="events[description]" required><%= event.description%></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update event</button>
            </div>
        </form>
        <a href="/events/<%= event._id%>">Back To event</a>

    </div>
</div>